body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  font-size: 3rem;
  margin: auto;
  max-width: 800px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}

.funds-table {
  display: flex;
  flex-direction: column;
  width: 75%;
  font-size: 22px;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid lightgray;
}


